.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #fff2f2;
}

.header p {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(128, 122, 122);
}